@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #515DEF;
  --secondary-color: #FBFBFB;
  --txt-color-primary: #333333;
  --txt-color-secondary: #909090;
}

body {
  background-color: var(--primary-color);
  box-sizing: border-box;
}